.professor-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .radio-group-horizontal {
    display: flex;
    gap: 25px;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #dcdde1;
    margin-top: 5px;
  }
  
  .radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
  }

  .form-row {
    display: flex;
    gap: 20px;
  }
  
  /* Proporções dinâmicas */
  .flex-1 { flex: 1; }
  .flex-2 { flex: 2; }
  .flex-3 { flex: 3; } /* O endereço será 3x maior que a data */
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #34495e;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    outline: none;
  }
  
  .form-group input:focus {
    border-color: #3498db;
  }

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

/* Estilo do botão do "olhinho" */
.toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f8c8d; 
    height: 100%;
}

.toggle-password:hover {
    color: #34495e;
}

input[type="date"] {
    height: 38px;
    box-sizing: border-box;
}
  
  .button-row {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .btn-save {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    flex: 2;
  }
  
  .btn-clear {
    background-color: #7f8c8d;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    flex: 1;
  }